<% for (let i = 0 ; i < products.length;i++){ %>
<tr>
  <td><%= i+1 %></td>
  <td><%= products[i].prod_name %></td>
  <td><%= products[i].prod_price %></td>
  <td><%= products[i].prod_quantity %></td>
  <td><%= products[i].prod_warranty %></td>
  <td><%= products[i].prod_vendor %></td>
  <td>
    <!-- <tr>
  <td>420</td>
  <td>Lajjat Papad</td>
  <td>185</td>
  <td>ravi kirana</td>
  <td>1kg</td>
  <td> -->
    <a
      href="/update-products?id=<%=products[i]._id %>"
      class="btn border-shadow update"
      ><span class="text-gradient"><i class="fas fa-pencil"></i></span
    ></a>
    <a
      class="btn border-shadow delete trash_product_btn"
      prod-data-id="<%= products[i]._id %> "
      ><span class="text-gradient"><i class="fas fa-trash"></i></span
    ></a>
  </td>
</tr>
<% } %>
